:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --White: hsl(0, 100%, 100%);
    --Very_Dark_Blue: hsl(234, 12%, 34%);
    --Very_Dark_Blue_Shadow: hsla(234, 12%, 34%, 0.2);
    --Grayish_Blue: hsl(229, 6%, 66%);
    --Very_Light_Gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--Very_Light_Gray);
}

header {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto 4rem auto;
    text-align: center;
    .text_header {
        & h2 {
            font-size: 2.25rem;
            font-weight: 200;
            color: var(--Very_Dark_Blue);
        }
        & h1 {
            font-size: 2.25rem;
            font-weight: 600;
            color: var(--Very_Dark_Blue);
            margin-bottom: 1rem;
        }
        & p {
            font-size: 15px;
            font-weight: 400;
            color: var(--Grayish_Blue);
        }
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    .cards_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 125px 125px 125px 125px;
        column-gap: 1.5rem;
        row-gap: 1rem;
        .card {
            width: 350px;
            height: 250px;
            background-color: var(--White);
            padding: 1.8rem 2rem;
            font-size: 15px;
            border-radius: 9px;
            box-shadow: 0px 10px 15px 5px var(--Very_Dark_Blue_Shadow);
            & h3 {
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 0.8rem;
                color: var(--Very_Dark_Blue);
            }
            & p {
                font-size: 13px;
                font-weight: 400;
                line-height: 1.4rem;
                color: var(--Grayish_Blue);
            }
            .icons {
                width: 100%;
                height: 55%;
                display: flex;
                align-items: end;
                justify-content: end;
            }
        }
        .card_01 {
            grid-column: 1;
            grid-row: 2;
            border-top-style: inset;
            border-top: 4px solid var(--Cyan);
        }
        .card_02 {
            grid-column: 2;
            grid-row: 1;
            border-top-style: inset;
            border-top: 4px solid var(--Red);
        }
        .card_03 {
            grid-column: 2;
            grid-row: 3;
            border-top-style: inset;
            border-top: 4px solid var(--Orange);
        }
        .card_04 {
            grid-column: 3;
            grid-row: 2;
            border-top-style: inset;
            border-top: 4px solid var(--Blue);
        }
    }
}

@media screen and (max-width: 480px) {
    header {
        width: 310px;
        display: inline-block;
        margin-top: 5.5rem;
        .text_header {
            & h2 {
                font-size: 1.5rem;
                margin-bottom: 0.15rem;
            }
            & h1 {
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
            }
            & p {
                font-size: 0.9rem;
                line-height: 1.6rem;
                margin-bottom: 0.9rem;
            }
        }
    }

    main {
        .cards_container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            row-gap: 1.5rem;
            margin-bottom: 6rem;
            .card {
                width: 310px;
                height: 230px;
                padding: 1.8rem 1.8rem;
                .icons {
                    width: 100%;
                    height: 50%;
                    & img {
                        width: 22%;
                    }
                }
            }
            .card_01 {
                grid-column: 1;
                grid-row: 1;
            }
            .card_02 {
                grid-column: 1;
                grid-row: 2;
            }
            .card_03 {
                grid-column: 1;
                grid-row: 3;
            }
            .card_04 {
                grid-column: 1;
                grid-row: 4;
            }
        }
    }
}
